<main class="container-fluid h-25 w-100">
  <div class="d-flex justify-content-center mt-3 mb-3">
    <img class="" style="width: 200px" src="assets/images/Angular_Logo_SVG.svg.png"/>
  </div>

  <nav class="bg-black h-25 d-flex container-fluid">
    <ul class="d-flex text-decoration-none list-unstyled text-white justify-content-evenly container pt-2">
      <li routerLink="">Introduction</li>
      <li routerLink="components">Components</li>
      <li routerLink="routings">Routing</li>
      <li routerLink="ngclasses">Ng Class</li>
      <li routerLink="forms">Forms</li>
    </ul>

  </nav>


</main>
