<main class="container d-flex justify-content-center h-100">
  <section class="w-75 shadow h-25 px-2 mt-5 mb-5">
    <div class="mx-3">
      <h2 class=" ">Angular Components</h2>
      <p> Components are the fundamental building block for creating applications in Angular.
      </p>
      <p>Command for Create a Component<br/>
        <code>generate component Home --standalone --inline-template</code></p>

      <p>Every component has the following core properties:
      </p>
      <ol>
        <li>A &#64; Componentdecorator that contains some configuration
        </li>

        <li>An HTML template that controls what renders into the DOM

        </li>

        <li>A CSS selector that defines how the component is used in HTML
        </li>

        <li>A TypeScript class with behaviors such as managing state, handling user input, or fetching data from a server.
        </li>
      </ol>

    </div>


  </section>
</main>

