<main class="container d-flex justify-content-center h-100">
  <section class="w-75 shadow h-25 px-2 mt-5 mb-5">
    <div class="mx-3">
      <h2 class=" "> What is Angular ?</h2>
      <p> Angular is a development platform, built on TypeScript.<br/>
        (Angular is a front end  framework build using javascript by Google )
        </p>
      <P>As a platform, Angular includes:
        </P>
      <ol>
        <li>A component-based framework for building scalable web applications
          </li>

        <li>A collection of well-integrated libraries that cover a wide variety of features, including routing, forms management, client-server communication, and more

        </li>

        <li>A suite of developer tools to help you develop, build, test, and update your code
        </li>
      </ol>

      <p>Like most modern frameworks, Angular expects you to be familiar with HTML, CSS and JavaScript. In addition, it’s recommended to have familiarity with the following concepts and tools:
      </p>
    </div>


  </section>
</main>
