<main class="container mt-4">
  <h2>Ng class Exmaples</h2>

  <h5>Apply dynamic CSS styles on condition</h5>

  <p [ngClass]="{'text-green': age>20 , 'text-red': age<=20}">My age is {{age}}</p>

  <h5>Apply Toggle button status</h5>

  <button class="btn" [ngClass]="{active:isActive , inactive:!isActive}" (click)="isActive=!isActive">Toggle Button</button>


  <h5>Apply Toggle button status using methods</h5>

  <button class="btn" [ngClass]="getDynamicClass()" (click)="isActive=!isActive">Toggle Button</button>

  <h5>ng moodels</h5>

  <input type="text" [(ngModel)]="title"/>
  <p>{{title}}</p>


  <section>
    <h1>NgIf</h1>

    <p *ngIf="condition">Visible and hide on NgIf true and false</p>

    <p class="bg-danger text-white p-2" *ngIf="qtyOfitem<10">Quantity is low</p>

  <h1> NgFor</h1>

    <div *ngFor="let fruit of data">
      {{fruit.name}},
      {{fruit.color}}

    </div>

    <p>with indexes</p>

    <div *ngFor="let fruit of data let i=index">
      {{i}}:
      {{fruit.name}},
      {{fruit.color}}

    </div>


  </section>
</main>
